/* Dashboard.css */

.dashboard {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .dashboard h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: purple;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .dashboard-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-links ul li {
    margin-bottom: 10px;
  }
  
  .dashboard-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .dashboard-links ul li a:hover {
    text-decoration: underline;
  }
  
  .recent-activity,
  .notifications,
  .analytics,
  .support,
  .logout {
    margin-top: 20px;
  }
  
  .recent-activity h2,
  .notifications h2,
  .analytics h2,
  .support h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .detail {
    margin-bottom: 10px;
    display: flex; 
    align-items: center; 
  }
  .user-details {
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .detail-heading {
    color: purple;
    font-weight: 700; 
  }
  
  .detail-value {
    color: grey;
    font-weight: 600;
    margin-left: 10px;
  }
  .user-type{
    color: grey;
    font-weight: 600;
    margin-left: 7px;
  }
  .load{
    text-align: center;
    margin-top: 150px;
    font-size: large;
    font-weight: 700;
  }
  
 
  